body
    {font-family: Arial, Helvetica, sans-serif;
background: url(fond.jpg) fixed center/cover;
height: 100vh;
}

#bloc_page
{width: 900px;
margin:auto}

header h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2.5rem;
    color:darkblue;
    text-align: center;
    font-weight: bold;
    background-color: white;
}

h2{
    font-size: 20px;
    color: black;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

figcaption{
    text-align: center;
}

#avec_les_petits {
    text-align: center;
}

#avec_les_grands{
    text-align: center;
}

/* Navigation */
    
nav ul{
    list-style-type: none;
    float: right;
    text-align: center;
    border: 3px solid blue;
    box-shadow: 6px 6px 0px blueviolet;
    background-color: aliceblue;
    padding: 5px 5px 5px 5px;
    margin-right: 10px;
}

nav li{
    margin-left: 20px;
    
}

nav a{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: :3px;
    text-decoration:none;
}

nav a:hover{
    color:#760001;
    border-bottom: 3px solid #760001;
}

article
{
    width: 75%;
    margin-right: 10px;
    margin-left: 10px;
    flex: 5;
    border: 30px dashed rgb(0, 64, 128);
    background-color: yellow;
    padding: 5px 5px 5px 5px;
    font-size: 16px;
    text-align: justify;
}

.imageflottante
{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}